@import ../../styles/helpers

.headerRow
    display: flex
    align-items: center
    gap: 24px
    margin-bottom: 24px
    +m
        gap: 16px
        margin-top: 16px

.backControl
    margin: 0 !important
    padding: 0 !important

.pageTitle
    margin: 0
    +body-bold-1

.wrapper
    display: flex
    align-items: flex-start
    +t
        flex-direction: column
        align-items: stretch 
    +m  
        padding: 0 16px
        padding-bottom: 120px
        width: 100%
        box-sizing: border-box

.confirm
    flex-grow: 1
    padding-right: 80px
    +x
        padding-right: 48px
    +d
        padding-right: 32px
    +t
        padding: 0
        margin-bottom: 32px

.price
    flex-shrink: 0
    width: 544px
    position: sticky
    top: 24px
    margin-top: -80px
    +x
        width: 500px
    +d
        width: 416px
    +t
        width: 100%
        margin-top: 0
        position: static

